.W_AddCard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  width: 187px;
  height: 69px;
  padding: 12px;
  bottom: 24px;
  background-color: var(--surface-alpha);
  backdrop-filter: blur(100px);
  border-radius: 40px;
  align-items: center;
  overflow: hidden;
  justify-content: flex-end;
  z-index: 99999;
  user-select: none;
  .W_AddCardOptions{
    filter: blur(10px);
  }
  &:is(.U_Active) {
    padding: 36px 36px 12px;
    width: 495px;
    height: 442px;
    max-width: 100%;
    .W_AddCardOptions{
      filter: blur(0px);
    }  
    .A_AddCardButton{
      width: 100%;
      border-radius: 15px;
    }
  }
}
