.W_AddCardOptions{
    display: none;
    flex-direction: column;
    gap: 0;
    width: 100%;
    height: 100%;
    gap: 6px;
    padding: 8px;
    &:is(.U_Active){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }    
  .A_ActionTitle{
    font-size: 14px;
    font-weight: 500;
    color: var(--font-default-color);
      }
      .A_ActionDescription{
        font-size: 10px;
        font-weight: 400;
        color: var(--font-second-color);
      }
      .A_ActionIcon{
        width: 24px;
        height: 24px;
      }
}