.W_LandingHalf{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    &:is(.U_BG){
        background-color: var(--first-level-background);
        background-image: url('/images/Q_LandingCareerBG.png');
        aspect-ratio: 1/1;
        border-radius: 12px;
        position: relative;
        .M_VacancyCard{
            box-sizing: border-box;
            position: absolute;
            max-width: 464px;
            background-color: #2C2C2C;
            max-height: 288px;
            box-shadow: 0px 0px 33.6px 0px rgba(0, 0, 0, 0.25);
            &:is(.U_First){
                transform: rotate(-6.437deg);
                left: -20px;
                top: 40px;
            }
            &:is(.U_Second){
                transform: rotate(-3.011deg);
                left: 169px;
                top: 288px;
            }
            &:is(.U_Third){
                transform: rotate(12.948deg);
                left: 357px;
                bottom: 40px;
            }
        }
        @media all and (max-width: 1599px) {
            .M_VacancyCard{
                width: 371px;
                max-width: 371px;
                min-width: 371px;
                height: 230px;
                max-height: 230px;    
                min-height: 230px;    
                box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.55);
                .A_VacancyTitle{
                    font-size: 28px;
                }
                .A_VacancyChips{
                    font-size: 14px;
                }
                .A_VacancyCardBodyText{
                    font-size: 14px;
                }
                &:is(.U_First){
                    left: 0;
                    top: 10px;    
                }
                &:is(.U_Second){
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-3.011deg);
                }
                &:is(.U_Third){
                    left: 200px;
                    bottom: 20px;
                }
            }    
        }        
        @media all and (max-width: 1365px) {
            .M_VacancyCard{
                width: 300px;
                max-width: 300px;
                min-width: 300px;
                height: 190px;
                max-height: 190px;    
                min-height: 190px;    
                box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.55);
                .A_VacancyTitle{
                    font-size: 23px;
                }
                .W_VacancyCardStack{
                    gap: 6px;
                }
                .A_VacancyChips{
                    padding: 4px 8px;
                    font-size: 12px;
                }
                .A_VacancyCardBodyText{
                    font-size: 12px;
                }
                &:is(.U_First){
                    left: 0;
                    top: 10px;    
                }
                &:is(.U_Second){
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-3.011deg);
                }
                &:is(.U_Third){
                    left: 150px;
                    bottom: 20px;
                }
            }    
        }        
        @media all and (max-width: 1023px) {
            background: none;
            height: 884px;
            .M_VacancyCard{
                width: 612px;
                max-width: 612px;
                min-width: 612px;
                height: 380px;
                max-height: 380px;    
                min-height: 380px;    
                aspect-ratio: 612/380;
                box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.55);
                .A_VacancyTitle{
                    font-size: 48px;
                }
                .A_VacancyChips{
                    font-size: 24px;
                }
                .A_VacancyCardBodyText{
                    font-size: 24px;
                }
                &:is(.U_First){
                    z-index: 1;
                    transform: rotate(-10.73deg) translateX(-50%);
                    left: 50%;
                    top: 0;
                }
                &:is(.U_Second){
                    z-index: 3;
                    transform: rotate(3.46deg) translateX(-50%);
                    left: 50%;
                    top: 248px;
                }
                &:is(.U_Third){
                    z-index: 2;
                    transform: rotate(-5.93deg) translateX(-50%);
                    left: 50%;
                    top: 440px;
                }
            }    
        }        
        @media all and (max-width: 600px) {
            background: none;
            height: 884px;
            .M_VacancyCard{
                width: 341px;
                max-width: 341px;
                min-width: 341px;
                height: 210px;
                max-height: 210px;    
                min-height: 210px;
                padding: 16px;
                box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.55);
                .A_VacancyTitle{
                    font-size: 26px;
                }
                .A_VacancyChips{
                    font-size: 13px;
                }
                .A_VacancyCardBodyText{
                    font-size: 13px;
                }
                &:is(.U_First){
                    z-index: 1;
                    transform: rotate(-10.73deg) translateX(-50%);
                    left: 50%;
                    top: 0;
                }
                &:is(.U_Second){
                    z-index: 3;
                    transform: rotate(3.46deg) translateX(-50%);
                    left: 50%;
                    top: 248px;
                }
                &:is(.U_Third){
                    z-index: 2;
                    transform: rotate(-5.93deg) translateX(-50%);
                    left: 50%;
                    top: 440px;
                }
            }    
        }        
    }
}