.Q_LandingImage{
    position: absolute;
    left: 50%;
    filter: blur(0) opacity(1);
    transition: all 1s ease-in-out;
    top: 50%;
    transform: translate(-50%, -50%);
    &:is(.U_Inactive){
        filter: blur(10px) opacity(0);
    }
    @media all and (max-width: 1365px) {
        transform: translate(-50%, -50%) scale(.8);
    }    
    @media all and (max-width: 1023px) {
        transform: translate(-50%, -50%) scale(1);
    }    
}