.M_ActionBarOption{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
    max-width: 100%;
    width: calc(100% / 2 - 3px);
    height: calc(100% / 2 - 3px);
    cursor: pointer;
    border-radius: 12px;
    user-select: none;
    background-color: var(--surface-third);
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-end;
    transition: var(--button-transitions);
    &:hover{
        background-color: var(--surface-third-hover);
    }
}