.M_FeedItem {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--surface-secondary);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    .A_UserCard{
        border-radius: 6px;
        &:is(.U_Link){
            background-color: var(--surface-third);
            &:hover{
                background-color: var(--surface-third-hover);
            }
        }
    }
    &:is(.U_SectionCreated){
        gap: 20px;
    }
    &:is(.U_VacancyCreated){
        flex-direction: row;
        gap: 12px;
        .W_FeedItemAvatar{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--surface-invert);
            border-radius: 8px;
            img{
                width: 60px;
                height: 60px;
            }
        }
    }
}
