.M_User{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 320px;
    border-radius: 12px;
    background-color: var(--surface-secondary);
    transition: var(--button-transitions);
    overflow: hidden;
    &:hover{
        background-color: var(--surface-secondary-hover);
    }
    img{
        width: 100%;
        height: 260px;
        object-fit: cover;
    }
}