.M_VacancyCard{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 100%;
    min-width: 400px;
    padding: 24px;
    flex: 1 1 200px;
    background-color: var(--second-level-background);
    justify-content: space-between;
    border-radius: 12px;
    transition: var(--button-transitions);
    &:hover{
        background-color: var(--second-level-background-hover);
    }
}