<%= f.hidden_field :size, value: 'square', data: { card_size_target: "input" } %>
<%= f.file_field :image, class: "A_ImageFormInput" %>
<div class="A_ImageFormInputPreview" onclick="document.querySelector('.A_ImageFormInput').click()">
  <% if f.object.image.attached? %>
    <%= image_tag f.object.image.variant(resize_to_limit: [900, 900]), id: "image-preview" %>
  <% else %>
    <img src="" alt="" id="image-preview">
  <% end %>
</div>
<script>
  document.querySelector('.A_ImageFormInput').addEventListener('change', function(e) {
      if (this.files && this.files[0]) {
  const reader = new FileReader();
  reader.onload = function(e) {
    document.getElementById('image-preview').src = e.target.result;
  };
  reader.readAsDataURL(this.files[0]);
      }
    });
</script>