<template data-section-create-card-target="imageCardTemplate">
  <% new_card = section.cards.build(card_type: 'image') %>
  <%= form.fields_for :cards, new_card, child_index: "NEW_RECORD" do |cf| %>
    <%= cf.file_field :image, class: "A_ImageFormInput" %>
    <div class="A_ImageFormInputPreview" onclick="document.querySelector('.A_ImageFormInput').click()">
      <% if cf.object.image.attached? %>
        <%= image_tag cf.object.image.variant(resize_to_limit: [900, 900]), id: "image-preview" %>
      <% else %>
        <img src="" alt="" id="image-preview">
      <% end %>
    </div>
    <script>
      document.querySelector('.A_ImageFormInput').addEventListener('change', function(e) {
          if (this.files && this.files[0]) {
      const reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('image-preview').src = e.target.result;
      };
      reader.readAsDataURL(this.files[0]);
          }
        });
    </script>
  <% end %>
</template>