.O_LandingFirstScreen{
    display: flex;
    flex-direction: column;
    padding: 48px 10px 0px 10px;
    height: 924px;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--first-level-background);
    background-image: url(/images/Q_LandingFirstScreenBg.png);
    background-position: center;
    background-size: cover;
    @media all and (max-width: 1599px) {
        height: 768px;
    }
    @media all and (max-width: 1365px) {
        height: 704px;
    }
    @media all and (max-width: 1023px) {
        justify-content: center;
        height: calc(100vh - 24px - var(--navbarHeight) - 24px);
        .W_ButtonsRow{
            flex-direction: column;
        }
    }
}