.O_Navbar{
    position: fixed;
    top: 32px;
    display: flex;
    flex-direction: row;
    max-width: 1776px;
    max-height: var(--navbarHeight);
    width: 100%;
    background-color: var(--navbar-background-color);
    backdrop-filter: blur(100px);
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 10px 20px;
    border-radius: 200px;
    z-index: 9999;
    @media all and (max-width: 1023px) {
        top: 0px;
        border-radius: 0;
        max-width: 100%;
    }    
}