:root {
    --main-bg: #ffffff;
    --main-color: #333333;
    --salary-color: #818181;
    --full-time-color: #6BA8D6;
    --part-time-color: #4FE7A8;
    --internship-color: #CFB2F5;  
    --first-level-background: #262626;
    --first-level-background-hover: #323232;
    --zero-level-background: #111111;
    --font-default-color: #ffffff;
    --font-second-color: #818181;
    --primary-button-bg-color: #e6e6e6;
    --primary-button-bg-color-hover: #ffffff;
    --primary-button-text-color: #131313;
    --navbar-background-color: rgba(38, 38, 38, 0.69);
    --navbar-link-color: #616161;
    --navbar-link-color-hover: #929292;
    /* button transitions */
    --button-transitions: all .2s ease-in-out;
}
