<div id="section_create_button_<%= position %>" 
     class="A_CreateSectionButton" 
     data-controller="sections"
     data-sections-position-value="<%= position %>"
     data-sections-url-value="<%= user_sections_path(user) %>"
     data-action="click->sections#create">
  <div class="W_CreateButtonIcon">
    <img src="../images/Q_Plus.svg" alt="">
  </div>
  <p class="A_VacancyCardBodyText">Добавить секцию</p>
</div>
