<div class="SO_Landing">
  <div class="O_LandingFirstScreen">
    <div class="W_LandingTextStack">
      <h1 class="A_LandingTitle U_Center">ADC — Cообщество дизайнеров<br>
        и программистов</h1>
      <p class="A_TextDescription U_Center">Платформа для участников сообщества ADC.<br>
        Здесь тебе помогут на пути к успеху в креативных индустриях</p>
      <div class="W_ButtonsRow">
        <div class="A_Button">Стать частью коммьюнити</div>
        <div class="A_Link">Итоги года ADC 2024 <img src="../images/Q_LinkIcon.svg" alt=""></div>
      </div>
    </div>
    <img class="A_LandingFirstScreenImage" src="../images/Q_LandingProjects.png" alt="">
  </div>
  <div class="O_LandingStories">
    <h2 class="A_LandingSubtitle">Манифест ADC</h2>
    <div class="W_LandingStoriesSlider">
      <div class="W_LandingStories">
        <div class="M_LandingStory">
          <div class="W_LandingStoryRow">
            <p class="A_LandingStoryTitle">Что такое ADC</p>
            <div class="A_LandingStoryButton">
              <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
            </div>
          </div>
        </div>
        <div class="M_LandingStory">
          <div class="W_LandingStoryRow">
            <p class="A_LandingStoryTitle">Что такое ADC</p>
            <div class="A_LandingStoryButton">
              <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
            </div>
          </div>
        </div>
        <div class="M_LandingStory">
          <div class="W_LandingStoryRow">
            <p class="A_LandingStoryTitle">Что такое ADC</p>
            <div class="A_LandingStoryButton">
              <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
            </div>
          </div>
        </div>
        <div class="M_LandingStory">
          <div class="W_LandingStoryRow">
            <p class="A_LandingStoryTitle">Что такое ADC</p>
            <div class="A_LandingStoryButton">
              <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
            </div>
          </div>
        </div>
        <div class="M_LandingStory">
          <div class="W_LandingStoryRow">
            <p class="A_LandingStoryTitle">Что такое ADC</p>
            <div class="A_LandingStoryButton">
              <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
            </div>
          </div>
        </div>
        <div class="M_LandingStory">
          <div class="W_LandingStoryRow">
            <p class="A_LandingStoryTitle">Что такое ADC</p>
            <div class="A_LandingStoryButton">
              <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="W_SliderButtons">
        <div class="A_SliderButton U_Left"></div>
        <div class="A_SliderButton U_Right"></div>
      </div>
    </div>
  </div>
</div>