<body class="U_FullHeight" data-controller="landing">
  <div class="SO_Landing">
    <div class="O_LandingFirstScreen">
      <div class="W_LandingTextStack">
        <h1 class="A_LandingTitle U_Center">ADC — Cообщество дизайнеров<br>
          и программистов</h1>
        <p class="A_TextDescription U_Center">Платформа для участников сообщества ADC.<br>
          Здесь тебе помогут на пути к успеху в креативных индустриях</p>
        <div class="W_ButtonsRow">
          <div class="A_Button U_Default">Стать частью коммьюнити</div>
          <div class="A_Link">Итоги года ADC 2024 <img src="../images/Q_LinkIcon.svg" alt=""></div>
        </div>
      </div>
      <img class="A_LandingFirstScreenImage" src="../images/Q_LandingProjects.png" alt="">
    </div>
    <div class="O_LandingStories">
      <h2 class="A_LandingSubtitle">Манифест ADC</h2>
      <div class="W_LandingStoriesSlider">
        <div class="W_LandingStories" data-landing-target="swipeContainer">
          <div class="M_LandingStory" data-landing-target="swipe">
            <div class="W_LandingStoryRow">
              <p class="A_LandingStoryTitle">Что такое ADC</p>
              <div class="A_LandingStoryButton">
                <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
              </div>
            </div>
          </div>
          <div class="M_LandingStory" data-landing-target="swipe">
            <div class="W_LandingStoryRow">
              <p class="A_LandingStoryTitle">Что такое ADC</p>
              <div class="A_LandingStoryButton">
                <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
              </div>
            </div>
          </div>
          <div class="M_LandingStory" data-landing-target="swipe">
            <div class="W_LandingStoryRow">
              <p class="A_LandingStoryTitle">Что такое ADC</p>
              <div class="A_LandingStoryButton">
                <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
              </div>
            </div>
          </div>
          <div class="M_LandingStory" data-landing-target="swipe">
            <div class="W_LandingStoryRow">
              <p class="A_LandingStoryTitle">Что такое ADC</p>
              <div class="A_LandingStoryButton">
                <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
              </div>
            </div>
          </div>
          <div class="M_LandingStory" data-landing-target="swipe">
            <div class="W_LandingStoryRow">
              <p class="A_LandingStoryTitle">Что такое ADC</p>
              <div class="A_LandingStoryButton">
                <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
              </div>
            </div>
          </div>
          <div class="M_LandingStory" data-landing-target="swipe">
            <div class="W_LandingStoryRow">
              <p class="A_LandingStoryTitle">Что такое ADC</p>
              <div class="A_LandingStoryButton">
                <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="W_SliderButtons">
          <div class="A_SliderButton U_Left" data-landing-target="swipeArrowLeft">
            <img src="../images/Q_LinkIcon.svg" alt="">
          </div>
          <div class="A_SliderButton U_Right" data-landing-target="swipeArrowRight">
            <img src="../images/Q_LinkIcon.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="O_LandingCompanies">
      <h2 class="A_LandingSubtitle U_Center">Стоим за топовыми продуктами</h2>
      <p class="A_TextDescription U_Center">Платформа для участников сообщества ADC.<br>
        Здесь тебе помогут на пути к успеху в креативных индустриях</p>
      <div class="W_LandingCompaniesStack" data-companies-rotator-target="container">
        <div class="A_LandingCompany" data-landing-target="company">
          <img class="Q_LandingImage" src="../images/Q_SberLogoLanding.svg" alt="">
          <img class="Q_LandingImage U_Inactive" src="../images/Q_BetaLogoLanding.svg" alt="">
          <img class="Q_LandingImage U_Inactive" src="../images/Q_KasperskyLogoLanding.svg" alt="">
        </div>
        <div class="A_LandingCompany" data-landing-target="company">
          <img class="Q_LandingImage" src="../images/Q_VkLanding.svg" alt="">
          <img class="Q_LandingImage U_Inactive" src="../images/Q_OzonLogoLanding.svg" alt="">
          <img class="Q_LandingImage U_Inactive" src="../images/Q_RestoreLogoLanding.svg" alt="">
        </div>
        <div class="A_LandingCompany" data-landing-target="company">
          <img class="Q_LandingImage" src="../images/Q_YandexLanding.svg" alt="">
          <img class="Q_LandingImage U_Inactive" src="../images/Q_SamokatLogoLanding.svg" alt="">
          <img class="Q_LandingImage U_Inactive" src="../images/Q_PhygitalLogoLanding.svg" alt="">
        </div>
        <div class="A_LandingCompany" data-landing-target="company">
          <img class="Q_LandingImage" src="../images/Q_AlphaBankLanding.svg" alt="">
          <img class="Q_LandingImage U_Inactive" src="../images/Q_PikLogoLanding.svg" alt="">
          <img class="Q_LandingImage U_Inactive" src="../images/Q_GazpromLogoLanding.svg" alt="">
        </div>
      </div>
    </div>
    <div class="O_LandingCareer">
      <div class="W_LandingHalf">
        <h2 class="A_LandingSubtitle">Продвигайся по карьерной лестнице</h2>
        <p class="A_TextDescription">Уникальная механика рекомендаций на работу и эксклюзивные вакансии</p>
        <div class="W_ButtonsRow">
          <div class="A_Button U_Default">Смотреть все вакансии</div>
          <div class="A_Link">Телеграм канал с вакансиями<img src="../images/Q_LinkIcon.svg" alt=""></div>
        </div>
      </div>
      <div class="W_LandingHalf U_BG">
        <div class="M_VacancyCard U_First">
          <div class="W_VacancyCardStack">
            <h2 class="A_VacancyTitle">UI/UX Дизайнер</h2>
            <div class="W_VacancyChips">
              <div class="A_VacancyChips U_Salary">
                280 000 ₽
              </div>
              <div class="A_VacancyChips U_Full-time">
                Фулл-тайм
              </div>
            </div>
          </div>
          <div class="W_VacancyCardStack">
            <div class="W_VacancyInfoRow">
              <img class="Q_Location" src="../images/Q_Location.svg" alt="">
              <p class="A_VacancyCardBodyText U_Secondary">Москва, удаленно</p>
            </div>
            <div class="W_VacancyInfoRow">
              <p class="A_VacancyCardBodyText U_Medium">Т-Банк</p>
              <div class="A_Circle"></div>
              <p class="A_VacancyCardBodyText U_Secondary">около часа назад</p>
            </div>
          </div>
        </div>
        <div class="M_VacancyCard U_Second">
          <div class="W_VacancyCardStack">
            <h2 class="A_VacancyTitle">Графический
              дизайнер</h2>
            <div class="W_VacancyChips">
              <div class="A_VacancyChips U_Salary">
                280 000 ₽
              </div>
              <div class="A_VacancyChips U_Part-time">
                Парт-тайм
              </div>
            </div>
          </div>
          <div class="W_VacancyCardStack">
            <div class="W_VacancyInfoRow">
              <img class="Q_Location" src="../images/Q_Location.svg" alt="">
              <p class="A_VacancyCardBodyText U_Secondary">Москва, удаленно</p>
            </div>
            <div class="W_VacancyInfoRow">
              <p class="A_VacancyCardBodyText U_Medium">Т-Банк</p>
              <div class="A_Circle"></div>
              <p class="A_VacancyCardBodyText U_Secondary">около часа назад</p>
            </div>
          </div>
        </div>
        <div class="M_VacancyCard U_Third">
          <div class="W_VacancyCardStack">
            <h2 class="A_VacancyTitle">Художник
              концепт-арта</h2>
            <div class="W_VacancyChips">
              <div class="A_VacancyChips U_Salary">
                280 000 ₽
              </div>
              <div class="A_VacancyChips U_Intertship">
                Стажировка
              </div>
            </div>
          </div>
          <div class="W_VacancyCardStack">
            <div class="W_VacancyInfoRow">
              <img class="Q_Location" src="../images/Q_Location.svg" alt="">
              <p class="A_VacancyCardBodyText U_Secondary">Москва, удаленно</p>
            </div>
            <div class="W_VacancyInfoRow">
              <p class="A_VacancyCardBodyText U_Medium">Яндекс</p>
              <div class="A_Circle"></div>
              <p class="A_VacancyCardBodyText U_Secondary">около часа назад</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="O_LandingProjects">
      <h2 class="A_LandingSubtitle">Продвигай свои проекты</h2>
      <p class="A_TextDescription">Твои проекты на главной странице сайта,
        прямо на глазах у работодателя</p>
      <div class="W_LandingProjectsLinks">
        <div class="M_LandingStory">
          <div class="W_LandingStoryRow">
            <p class="A_LandingStoryTitle">Студенческие
              и личные проекты</p>
            <div class="A_LandingStoryButton">
              <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
            </div>
          </div>
        </div>
        <div class="M_LandingStory">
          <div class="W_LandingStoryRow">
            <p class="A_LandingStoryTitle">Инструменты,
              плагины, софт</p>
            <div class="A_LandingStoryButton">
              <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
            </div>
          </div>
        </div>
        <div class="M_LandingStory">
          <div class="W_LandingStoryRow">
            <p class="A_LandingStoryTitle">Другое</p>
            <div class="A_LandingStoryButton">
              <img class="Q_ButtonIcon" src="../images/Q_StoryPlus.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="O_LandingFooter">
      <div class="W_LandingFooterText">
        <img class="Q_DeepFaceFooter" src="../images/Q_DeepFace.png" alt="">
        <h2 class="A_LandingSubtitle U_Center">И многое другое<br>
          в полной версии</h2>
      </div>
      <a href="" class="A_Button U_Default">Участвовать в раннем тестировании</a>
    </div>
  </div>
</body>
