<div class="M_FeedItem U_VacancyCreated">
  <div class="W_FeedItemAvatar">
    <img src="../images/Q_NavVacancyIcon.svg" alt="">
  </div>
  <div class="W_FeedItemContent">
    <p class="W_FeedItemText">
      <span class="A_FeedAction">Новая вакансия</span>
      «<%= link_to activity.subject.title, vacancy_path(activity.subject), class: "A_FeedEntityLink" %>»
      от <%= link_to activity.subject.company.name, user_path(activity.actor), class: "A_FeedEntityLink" %>
    </p>
    <div class="A_FeedTimestamp"><%= time_ago_in_words(activity.created_at) %> ago</div>
  </div>
</div>