.A_Button{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    height: 45px;
    width: fit-content;
    background-color: var(--primary-button-bg-color);
    border-radius: 200px;
    padding: 10px 9px 10px 15px;
    cursor: pointer;
    transition: var(--button-transitions);
    user-select: none;
    border: none;
    &:is(.U_Secondary){
        background-color: aqua;
    }
    &:is(.U_Default){
        width: fit-content;
        border-radius: 12px;
        padding: 10px 15px 10px 15px;
    }
    .A_VacancyCardBodyText{
        color: var(--primary-button-text-color);
    }
    &:hover{
        background-color: var(--primary-button-bg-color-hover);
    }
}