.A_CardSizeButton{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-default-color);
    cursor: pointer;
    border: 0;
    background-color: var(--dark-alpha);
    transition: var(--button-transitions);
    &:hover{
        background-color: var(--surface-secondary-hover);
    }
}