.A_CardButton{
    display: flex;
    width: 36px;
    height: 36px;
    min-height: 36px;
    min-width: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--dark-alpha);
    backdrop-filter: blur(7px);
    cursor: pointer;
    border: 0;
    transition: var(--button-transitions);
    &:hover{
        background-color: var(--surface-secondary);
    }
    &:is(.U_Color){
        background-color: var(--surface-button-brand);
        &:hover{
            background-color: var(--surface-button-brand-hover);
        }
    }
}