.A_CheckBox{
    width: 19px;
    height: 19px;
    background-color: var(--first-level-background);
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    &:hover{
        background-color: var(--first-level-background-hover);
    }
    &:is(.U_Active){
        background-color: var(--part-time-color);
    }
    input{
        position: absolute;
        width: 19px;
        height: 19px;
        opacity: 0;
    }
}