.A_CreateSectionButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 16px;
    width: 100%;
    background-color: var(--surface-secondary);
    border-radius: 12px;
    cursor: pointer;
    transition: var(--button-transitions);
    justify-content: center;
    &:hover {
        background-color: var(--surface-secondary-hover);
    }

    .W_CreateButtonIcon {
        width: 24px;
        height: 24px;
    }
} 