.A_CreateSectionButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 16px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: var(--button-transitions);
    justify-content: center;
    &:hover {
        .W_CreateButtonIcon {
            width: 40px;
            height: 40px;
            background-color: var(--surface-secondary-hover);
            img{
                width: 20px;
                height: 20px;
            }    
        }    
    }

    .W_CreateButtonIcon {
        width: 30px;
        height: 30px;
        img{
            transition: var(--button-transitions);
            width: 15px;
            height: 15px;
        }
}
} 