.A_Link{
    font-size: 18px;
    padding: 10px 14px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: var(--button-transitions);
    color: var(--primary-button-bg-color);
    &:hover{
        color: var(--primary-button-bg-color-hover);
    }
}