.A_SectionSaveAllButton{
    position: absolute;
    width: fit-content;
    height: 36px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--surface-invert);
    width: fit-content;
    border-radius: 12px;
    border: 0;
    font-size: var(--text-profile-button-size);
    transition: var(--button-transition);
    margin: 0;
    padding: 12px;
}

.A_SectionSaveAllButton:hover{
    background-color: var(--surface-invert-hover);
}