.A_SectionAction{
    width: 100%;
    height: fit-content;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    font-size: var(--text-action-title-size);
    color: var(--font-default-color);
    font-weight: 400;
    &:hover{
        background-color: var(--surface-secondary-hover);
    }
    &.U_Destroy{
        color: var(--text-error-color);
    }
}