.A_TextField{
    width: 100%;
    height: 50px;
    max-height: 50px;
    border-radius: 12px;
    padding: 15px 22px;
    background-color: var(--first-level-background);
    border: 0;
    font-size: 18px;
    color: var(--font-default-color);
    &:hover{
        background-color: var(--first-level-background-hover);
    }
    &:is(.U_TopLevel){
        background-color: var(--surface-third);
        &:hover{
            background-color: var(--surface-third-hover);
        }    
    }
}