.A_UserCard{
    background-color: var(--surface-secondary);
    border-radius: 12px;
    position: relative;
    padding: 16px;
    overflow: hidden;
    &:hover{
        background-color: var(--surface-secondary-hover);
        .W_CardButtons, .W_CardSizeButtons{
            filter: opacity(1);
            pointer-events: all;
        }
    }
    &:is(.U_Square){
        aspect-ratio: 1/1;
        width: calc(33.33% - var(--grid-gap, 0px));
    }
    &:is(.U_Medium){
        aspect-ratio: 712/350;
        width: calc(66.66% - var(--grid-gap, 0px));
    }
    &:is(.U_Divider){
        position: relative;
        height: fit-content;
        width: 100%;
        background-color: #00000000;
        transition: var(--button-transitions);
        padding: 16px 0;
        .W_CardButtons{
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
            filter: opacity(0);
            transition: var(--button-transitions);
            display: flex;
            flex-direction: row;
            height: fit-content;
            gap: 4px;
        }
        &:hover{
            padding: 16px;
            background-color: var(--surface-secondary-hover);
            .W_CardButtons{
                filter: opacity(1);
            }
        }
    }
    &:is(.U_Image){
        padding: 0;
        .W_CardButtons{
            top: 16px;
        }
        .Q_UserCardImage{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    @media all and (max-width: 767px) {
        &:is(.U_Square){
            width: calc(50% - var(--grid-gap, 0px) / 2);
        }
        &:is(.U_Medium){
            width: 100%;
        }
    }
}