<div class="SO_ActivityFeed" data-controller="infinite-scroll" data-infinite-scroll-page-value="1">
  <h1 class="A_FeedTitle">Новое</h1>
  <div class="O_FeedItems" data-infinite-scroll-target="entries">
    <% @activities.each do |activity| %>
      <%= render partial: "activities/types/#{activity.action}", locals: { activity: activity } %>
    <% end %>
  </div>
  <div class="O_Pagination" data-infinite-scroll-target="pagination">
    <div class="A_LoadingIndicator">Loading more...</div>
  </div>
</div>